body {
  padding-top: 70px;
  padding-bottom: 60px;
}

footer {
  margin: 50px 0;
}

.footer-link {
  margin-right: 10px;
}

.footer {
  background-color: #e8e8e8;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 2px;
}

#telephone {
  opacity: 0;
}

.label-inline {
  line-height: 2.6;
  padding-right: 10px;
}

.details {
  margin-top: 40px;
}

.btn-details {
  font-size: 17px;
}

@media (max-width: 425px) {
  .btn-details {
    white-space: normal;
  }
}

.modal-footer-btn {
  margin-top: 0;
  text-align: center;
}

.details ul {
  line-height: 46px;
  font-size: 19px;
  color: #7b7979;
}

.details h1 {
  color: #000;
  font-size: 34px;
}

.details div {
  color: #000;
  margin-left: 3px;
}

.count_page {
  color: #0062ff;
  border-top: 1px solid #d3e0e9;
  padding: 15px;
}

.padding-none {
  padding: 15px;
  font-size: 19px;
}

.no-padding {
  padding: 0 !important;
  font-size: 19px;
}

.btn-delete:focus {
  outline: none;

}

.btn-delete-number {
  margin: 15px;
}

#wrapper {
  margin-top: 40px;
}

#wrapper.logo {
  margin-top: -18px;
}

.delete_aliases {
  color: #636b6f;
  border-top: 1px solid #d3e0e9;
  padding: 15px;
}

.charts {
  margin-top: 0;
}

.modal-title {
  margin: 0;
  line-height: 1.6;
  text-align: center;
}

.delete-header {
  padding: 15px;
}

.delete-footer {
  padding: 15px;
  text-align: center;
}

.no-delete {
  width: 155px;
  margin-right: 33px;
}

.yes-delete {
  width: 155px;
}

.modal-delete {
  top: 32%;
  margin-top: -70px;
}

.padding-none {
  padding: 15px;
  font-size: 19px;
}

.no-padding {
  padding: 0 !important;
  font-size: 19px;
}

.details {
  margin-top: 40px;
}

.btn-details {
  font-size: 17px;
}

.modal-footer-btn {
  margin-top: 0;
  text-align: center;
}

.details ul {
  line-height: 46px;
  font-size: 19px;
  color: #7b7979;
}

.details h1 {
  color: #000;
  font-size: 34px;
}

.details div {
  color: #000;
  margin-left: 3px;
}

.count_page {
  color: #0062ff;
  border-top: 1px solid #d3e0e9;
  padding: 15px;
}

.padding-none {
  padding: 15px;
  font-size: 19px;
}

.no-padding {
  padding: 0 !important;
  font-size: 19px;
}

.btn-delete {
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.6;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 6px 0px;
  text-align: center;
  width: 135px;
  background: white;
  border: 1px solid #e6e6e6;
}

.btn-delete-number {
  margin: 15px;
}

.delete_aliases {
  color: #636b6f;
  border-top: 1px solid #d3e0e9;
  padding: 15px;
}

.btn-success {
  color: #fff;
  background-color: #3ede9e;
  border-color: #259d6d;
  &:focus {
    background-color: #3ede9e !important;
  }
}

.btn-error {
  background-color: #ad3838;
  border-color: #1d0100;
  color: #000000 !important;
}

.container-phone {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.m-b-7 {
  margin-bottom: 7px;
}

.btn-language {
  padding: 10px 10px;
}

#map {
  margin-bottom: 20px;
}

button.btn.navbar-btn.btn-link.dropdown-toggle {
  text-decoration: none;
}

.lon {
  display: none;
}

.lat {
  display: none;
}

img.logo-image {
  margin: 8px;
}

.header-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  right: 50%;
  margin-right: -50vw;
  height: 450px;
  margin-left: -50vw;
  //padding-top: 12%;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.col-lg-6.col-sm-6.header-top-search-text {
  vertical-align: middle;
  height: 100px;
  //font-size: 50px;
  //font-weight: bold;
  span {
    vertical-align: middle;
  }
}

.col-lg-6.col-sm-6.header-bottom-search-text {
  vertical-align: middle;
  h3 {
    vertical-align: middle;
  }
  height: 100px;
}

.panel-heading.heading-post {
  padding: 0px 15px;
}

.hr {
  border-bottom: 1px solid black;
}

.remove-padding {
  margin-top: -10px;
}

.mg-top-10 {
  margin-top: 0;
}

.home-panel {
  .panel-default {
    padding-top: 20px;
  }
}

.header-image .row:first-child {
  padding-top: 70px;
}

.top-image {
  width: 100%;
  height: 450px;
  margin-top: -20px;
  padding-top: 20px;
  background-size: cover;
  background-position: right;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  .about {
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
  }
  @media screen and (max-width: 769px) {
    & {
      height: 400px;
      margin-top: -42px;
    }
  }
}

.text-white {
  color: #fff;
}

.text-bold {
  font-weight: bold;
}

.detail-phone {
  margin: 10px 0;
}

@media screen and (max-width: 500px) {
  .col-lg-6.col-sm-6.header-top-search-text.text-center {
    font-size: 2em;
    color: white;
    font-weight: bold;
    padding-top: 15px;
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
  }
}

@media screen and (min-width: 992px) {
  .container-header {
    width: 1050px;
  }
}

@media screen and (min-width: 768px) {
  .container-header {
    width: 1250px;
  }
}

.btn-comments {
  font-size: 17px;
}

.opacity {
  opacity: 0;
}

.label_success_safe {

}

.posted_margin {
  margin-top: 20px !important;

}
.margin-comments {
  margin-top: -10px !important;
}
.margin_left {
  margin: 5px;
}
@media (min-width: 800px) {
  .navbar-toggle {
    display: none;
  }
}

@media (max-width: 800px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 22px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}

@media (min-width: 800px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}


@media (min-width: 767px) {
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .navbar-form .form-control-static {
    display: inline-block;
  }
  .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .navbar-form .input-group .input-group-addon,
  .navbar-form .input-group .input-group-btn,
  .navbar-form .input-group .form-control {
    width: auto;
  }
  .navbar-form .input-group > .form-control {
    width: 100%;
  }
  .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio,
  .navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio label,
  .navbar-form .checkbox label {
    padding-left: 0;
  }
  .navbar-form .radio input[type="radio"],
  .navbar-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .navbar-form .has-feedback .form-control-feedback {
    top: 0;
  }
}

@media (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 5px;
  }
  .navbar-form .form-group:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 767px) {
  .navbar-form {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
  }
}
.navbar-nav {
  margin: 7px -15px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 22px;
}